@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #323f4b;
    margin-top: 125px;
}

.btn-chess:hover {
  background-color: #16a085;
}

.btn-chess:focus {
  box-shadow: #64c7b3;
  background-color: #1f2933;
  border-color: #16a085;
}

.btn-chess {
  background-color: #1f2933;
  border-color: #1f2933;
}

.btn-chess-home {
  height: 225px;
  margin: 0 12.5px;
  font-size: 25px;
}

.btn-chess:hover {
  background-color: #16a085;
  border-color: #16a085;
}

.btn-chess:focus, .btn-chess.focus {
  box-shadow: 0 0 0 3px #64c7b3;
}

.btn-chess.disabled, .btn-chess:disabled {
  background-color: #1f2933b7;
  border-color: #1f2933b7;
}

.btn-chess:active, .btn-chess.active,
.show > .btn-chess.dropdown-toggle {
  background-color: #16a085;
  background-image: none;
  border-color: #16a085;
}

router-outlet + * > * {
  margin-top: 4%;
}

.nav-link{
  /*font-weight: bold;*/
  display: inline;
  color: #1dc5a3;
  margin-left: -14px;
}

.nav-link:hover{
  /*font-weight: bold;*/
  text-decoration-line: underline;
  display: inline;
  color: #30e0bd;
  margin-left: -14px;
}