.game {
    background-color: #1f2933;
    width: 70%;
    border-radius: 7px;
    margin-bottom: 25px;
    margin: 25px auto 0px auto;
    height: 180px;
}

.none {
    font-size: 25px;
    color: #f5f7fa;
    text-align: center;
    line-height: 170px;
}

.board {
    margin-left: 20px;
}

.description {
    margin-left: 50px;
    font-size: 20px;
    color: #f5f7fa;
}

.delete {
    justify-self: flex-end;
    margin-right: 20px;
    font-size: 20px;
}

span {
    color: #1dc5a3;
}

.page {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    background-color: #1f2933;
    border-radius: 7px;
    color: #f5f7fa;
    text-align: center;
    line-height: 48px;
}

.page-button {
    width: 50px;
}