<div *ngIf="game" class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <ngx-chess-board #board [size]="innerWidth >= innerHeight ? 0.7 * (innerHeight - 75) : 0.7 * (innerWidth - 75)" [dragDisabled]="isMyTurn===false" [drawDisabled]="true" [showLastMove]="false" [lightTileColor]="tileColors[0]" [darkTileColor]="tileColors[1]" [pieceIcons]="pieces" [lightDisabled]="game == null || (game.colorWhite===false || isMyTurn===false)" [darkDisabled]="game == null || (game.colorWhite===true || isMyTurn===false)" (moveChange)="moveDone()"></ngx-chess-board>
        <div class="d-flex justify-content-center password-container" [style.width]="innerWidth >= innerHeight ? (0.7 * (innerHeight - 75)).toString() + 'px' : (0.7 * (innerWidth - 75)).toString() + 'px'" *ngIf="opponentPassword != null">
            <p>Join game as {{this.game.colorWhite ? "black" : "white"}}: <span>{{opponentPassword}}-{{gameId}}</span></p>
            <button class="btn btn-secondary btn-chess" ngbTooltip="Copied to clipboard!" triggers="click:blur" (click)="copyPasswordToClipboard()">&emsp;&emsp;<i class="bi bi-clipboard" style="font-size: 20px;"></i></button>
        </div>
    </div>
    <ng-template #popContent><b>{{((isMyTurn && game.colorWhite) || (isMyTurn === false && game.colorWhite === false)) ? 'White' : 'Black'}}</b> to play!</ng-template>
    <i class="bi bi-question-circle turn" type="button" placement="right"
    [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
    </i>
</div>

